/*COLORS AND FONTS USED
color: #ff5a1f*/

/*orange/*;
 /*COLORS AND FONTS USED
color: #ff5a1f /*orange/*;
color: #41c1c4 /*cyan/*;
color : #363636; //dark grey
color : #c1b8b5; // light grey
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
color : #28beee; //light blue
*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: #363636/*dark grey*/
	;
	border: none;
	font-family: 'Roboto Slab', serif;
	outline: none;
	transition: all 0.2 ease;
}

html {
	position: relative;
	min-height: 100%;
	width: 100%;
}

body {
	width: 100%;
	padding: 104px 0;
	display: inline-block;
}

h2,
h3,
h1 {
	font-family: 'Roboto Slab', serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}

.container {
	position: relative;
	max-width: 1000px;
	width: 80%;
	margin: auto;
}


.btn {
	font-size: 15px;
	transition: all ease 0.5s;
	cursor: pointer;
	display: inline-block;
	padding: 10px;
	background: #fff;
}

.btn-primary {
	border: 3px solid #28beee;
	/*light blue*/
}

.btn-primary:hover {
	background-color: #28beee;
	color: #ffffff;
	/*white*/
	/*light blue*/
}

.btn-submit:hover {
	background-color: #3e5885;
	transition: all ease 0.3s;
}

.btn-submit {
	background-color: #5b80c0;
	color: #fffff2;
	border: none;
	padding: 10px;
}

.btn-grey {
	border: 3px solid #ccc;
}

.btn-grey:hover {
	background: #ccc;
}

.page-title {
	display: block;
	text-align: center;
	padding: 60px 0 30px;
	font-size: 2rem;
}

.fa-check {
	color: #54c350;
}

.starRate {
	display: inline-block;
	height: 20px;
	width: 107px;
	position: relative;
	overflow: hidden;
}

.starRate #fill {
	position: absolute;
	left: 0;
	display: inline-block;
	height: 100%;
	background: gold;
}

.starRate img {
	height: 100%;
}

.modal-container .modal-holder {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 1px;
	width: 1px;
	transition: all 2s ease;
}

.modal-container {
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.modal-container:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.6;
}

.coverBg img {
	height: 100%;
	width: 100%;
}

/********HEADER*********/

header {
	position: fixed;
	display: inline-block;
	top: 0;
	left: 0;
	width: 100%;
	height: 108px;
	color: #ff5a1f;
	z-index: 9;
	background-color: #fff;
}

header a{
	color: #363636;
}

header .fas,span
{
	color: #ff5a1f;
}
header .container{
	height: 100%;
}
header .container > * {
	float: left;
	height: 100%;
	position: relative;
}

/*children inside first level*/

.logo {
	width: 100px;
}

.logo a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.logo img {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 
	max-height: 200px;
}

.headerNav {
	width: 70%;
}

.headerNav nav {
	width: 100%;
	display: inline-block;
	position: absolute;
	bottom: 30px;
	
}


.headerNav ul,
.headerNav li {
	display: inline-block;
	text-align: center;
	position: relative;
	width: 100%;
}
.headerNav ul {
	height: 100%;
	width: 100%;
}
.headerNav li {
	padding: 8px 0;
}

.headerNav li:hover a {
	color: #ff5a1f;
	transition: all ease 0.5s;
}



.headerNav nav > ul > li {
	float: left;
	width: 25%;
}

.headerNav nav > ul > li > ul {
	position: absolute;
	overflow: hidden;
	max-height: 0;
	left: 0;
	color: #363636;
	top: 100%;
	transition: all 0.3s ease;
}

.headerNav nav > ul > li:hover > ul {
	max-height: 50px;
}


.rightNav {
	position: relative;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	padding: 30px 40px 0 20px;
	width: 15%;
}

.cartNav .fas
{
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 25px;
	width: 100%;
	color: #ff5a1f;
}


.userNav .fas
{
	margin-left: 10px;
	margin-bottom: 5px;
	font-size: 25px;
	width: 100%;
	color: #ff5a1f;
}
.rightNav .cartNav a {
	display: inline-block;
	width: 100%;
	position: relative;
}

.rightNav .userNav a {
	display: inline-block;
	width: 100%;
	position: relative;
}
.cartNav a
{
	font-size: 12px;
	color: #ff5a1f;
}
.userNav a
{
	font-size: 12px;
	color: #ff5a1f;
}
.cartNav a:hover
{
	opacity: 0.7;
	transition: all ease 0.5s;
}
.userNav a:hover
{
	opacity: 0.7;
	transition: all ease 0.5s;

}
.socialSprite {
	background-image: url("../images/socialSprite.png");
	display: inline-block;
	height: 32px;
	width: 32px;
	text-indent: 999999px;
	overflow: hidden;
	box-sizing: border-box;
}

.bottomLine
{
	background-color: #ff5a1f;
	box-shadow: 0 3px 20px -5px #ff5a1f;
}
.bottomLine p
{
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding: 10px;
}

/******NAVIGATION******/

/*********END OF HEADER***********/
/*products details*/

/*********THANKS BOX***********/

.thanksBoxContainer {
	border: 1px solid #363636;
	width: 410px;
	padding: 20px;
	margin: 10px;
	background: #fff;
	transform: translateY(-50%) translateX(-50%);
}

.thanksBoxContainer h2 {
	text-align: center;
	margin-bottom: 10px;
}

.thanksBoxContainer p {
	line-height: 30px;
	margin-bottom: 20px;
}

.fa-download {
	color: #fff;
}

/*********END OF THANKS BOX***********/

.productDetailContainer{
	display: inline-block;
}
.productDetailContainer>*
{
	display: inline-block;
	float: left;
	position: relative;
	width: 100%;
	text-align: left;
}
.productContentContainer .btn{
	margin-top: 40px;
}
.productContentContainer h2,h3,p,ol
{
margin-bottom: 15px;
}
.productContentContainer, .imagesContainer
{
	display: inline-block;
	width: 49%;
	height: 100%;
	overflow: auto;
	padding: 20px;
}
.detailsHolder{
	height: auto;
}
.mainImage img
{
	width: 100%;
}
.imageViews .productPictures{
	width: 25%;
	height: 100px;
	float: left;
	padding: 5px;
}
.imageViews .productPictures .productPicture-wraper{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.imageViews img
{
	max-width: 97px;
	float: left;
}
.fa-star, .fa-star-half-alt
{
	color: #363636;
}
.fa-circle
{
	font-size: 20px;
	margin-left: 5px;
}
.productDescription p
{
	width: 500px;
	margin-top: 10px;
}
.product-details-row{
	width: 100%;
	display: block;
	overflow: auto;
}
.product-details-row>*{
	float: left;
}
.product-details-row.product-quantity input{
	width: 30px;
	text-align: center;
}
.product-details-row.product-quantity .fas{
	display: inline-block;
	margin: 0 10px;
	padding: 5px;
	background: #28beee;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
}
.product-details-row.product-quantity .fas:hover{
	background: #228daf;
}
	.product-details-row select{
		padding: 4px;
	}
/*end of product details*/

/*register view*/
.error{
	padding: 8px;
	background-color: tomato;
	color: #363636;
}
.editRegisterForm
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
}

.editRegisterColumn
{
	flex: 50%;
	background-color: lightgrey;
	padding: 5px 20px 15px 20px;
	border-radius: 3px;
}

.editRegisterForm
{
	flex: 75%;
}

.editRegisterColumn, .editRegisterForm
{
	padding: 0 16px;
}

.editRegisterForm [type=text]
{
	width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.editRegisterForm label
{
  margin-bottom: 10px;
  display: block;

}
.formContainer
{
	margin-left: 25%;
	margin-top: 2%;
}
/*end of register view*/
/*user dashboard view*/
.dashBoardContainer
{
	position: relative;
	display: inline;
}
.dashBoard
{
	margin-top: 5%;
	text-align: center;
	float: left;
	width: 50%;
	padding: 20px;
}
.purchaseHistory
{
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
	background-color: #363636;/*dark grey*/ 
	padding: 50px;
}
.editProfile
{
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
	background-color: #363636;/*light grey*/ 
	padding: 50px;
}
.editProfile h2
{
	color: #fff;
	font-size: 30px;
}
.purchaseHistory h2
{
	color: #fff;
	font-size: 30px;
}
.fa-history
{
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}

.dashBoard:hover
{
	opacity: 0.7;
	transition: all ease 0.7s;
}
.dashBoardContainer a
{
	margin-left: 20px;
	margin-top: 20px;
}
.dashBoardContainer h1
{
	text-align: center;
	margin-top: 20px;
}

/*end of user dashboard view*/
/*thanks view*/
	.thanksBoxContainer
	{
		border: 1px solid #363636;
		width: 410px;
		padding: 20px;
		margin: 10px;
	}
	.thanksBoxContainer h2{
		text-align: center;
		margin-bottom: 10px;
	}
	.thanksBoxContainer p
	{
		line-height: 30px;
		margin-bottom: 20px;
	}
	.thanksBoxContainer a /*delete later*/
	{
		border: 1px solid #363636;
		background-color: #363636;
		color: #fff;
		margin-right: 20px;
	}
	.fa-download
	{
		color: #fff;
	}
/*end of thanks view*/

/*payment view*/
.paymentRow
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
}

.paymentColumn
{
	flex: 50%;
	background-color: lightgrey;
	padding: 5px 20px 15px 20px;
	border-radius: 3px;
}

.paymentInfoForm
{
	flex: 75%;
}

.paymentColumn, .paymentInfoForm
{
	padding: 0 16px;
}

.paymentInfoForm [type=text]
{
	width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.paymentInfoForm label
{
  margin-bottom: 10px;
  display: block;

}
.formContainer
{
	margin-left: 25%;
	margin-top: 2%;
}
/*end of payment view*/


/**add to cart**/
	.addToCartContainer
	{
		border: 1px solid #363636;
		width: 410px;
		padding: 20px;
		margin: 10px;
	}
	.addToCartContainer h2{
		text-align: center;
		margin-bottom: 10px;
	}
	.thanksOkButton
	{
		margin-left: 40%;
		margin-top: 20px;
	}
	.thanksOkButton a /*delete later*/
	{
		border: 1px solid #363636;
		background-color: #363636;
		color: #fff;
		text-align: center;
	}
	/**end of add to cart**/

/**billing view**/
.error{
	padding: 8px;
	background-color: tomato;
	color: #363636;
}
.editBillingForm
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
}

.editBillingColumn
{
	flex: 50%;
	background-color: lightgrey;
	padding: 5px 20px 15px 20px;
	border-radius: 3px;
}

.editBillingForm
{
	flex: 75%;
}

.editBillingColumn, .editBillingForm
{
	padding: 0 16px;
}

.editBillingForm [type=text]
{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.editBillingForm label
{
  margin-bottom: 10px;
  display: block;

}
.formContainer
{
	margin-left: 25%;
	margin-top: 2%;
}
/**end of billing view**/

/*edit profile*/
.error{
	padding: 8px;
	background-color: tomato;
	color: #363636;
}
.editProfileRow
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
}

.editProfileColumn
{
	flex: 50%;
	background-color: lightgrey;
	padding: 5px 20px 15px 20px;
	border-radius: 3px;
}

.editProfileForm
{
	flex: 75%;
}

.editProfileColumn, .editProfileForm
{
	padding: 0 16px;
}

.editProfileForm [type=text]
{
	width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.editProfileForm label
{
  margin-bottom: 10px;
  display: block;

}
.formContainer
{
	margin-left: 25%;
	margin-top: 2%;
}

/*end of edit profile*/

/**********ABOUT PAGE***********/

.aboutContainer > * {
	display: inline-block;
}

.aboutContainer {
	border: 1px solid #363636;
	background-color: #c1b8b5;
	height: 400px;
	padding: 20px;
	margin: 0 auto;
	max-width: 800px;
	margin-top: 10%;
}

.aboutContainer img {
	float: left;
	max-width: 400px;
	margin-right: 20px;
}

.aboutContainer p {
	float: right;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #363636;
}

.aboutContainer h2 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin-bottom: 20px;
	color: #363636;
}

/************END OF ABOUT PAGE*********/

.productDetailContainer {
	display: inline-block;
}

.productDetailContainer > * {
	display: inline-block;
	float: left;
	position: relative;
	width: 100%;
	text-align: left;
}

.productContentContainer .btn {
	margin-top: 40px;
}

.productContentContainer h2,
h3,
p,
ol {
	margin-bottom: 15px;
}

.productContentContainer,
.imagesContainer {
	display: inline-block;
	width: 49%;
	height: 100%;
	overflow: auto;
	padding: 20px;
}

.detailsHolder {
	height: auto;
}

.mainImage img {
	width: 100%;
}

.imageViews .productPictures {
	width: 25%;
	height: 100px;
	float: left;
	padding: 5px;
}

.imageViews .productPictures .productPicture-wraper {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.imageViews img {
	max-width: 97px;
	float: left;
}

.fa-star,
.fa-star-half-alt {
	color: #363636;
}

.fa-circle {
	font-size: 20px;
	margin-left: 5px;
}

.productDescription p {
	width: 500px;
	margin-top: 10px;
}

.product-details-row {
	width: 100%;
	display: block;
	overflow: auto;
}

.product-details-row > * {
	float: left;
}

.product-details-row.product-quantity input {
	width: 30px;
	text-align: center;
}

.product-details-row.product-quantity .fas {
	display: inline-block;
	margin: 0 10px;
	padding: 5px;
	background: #28beee;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
}

.product-details-row.product-quantity .fas:hover {
	background: #228daf;
}

.product-details-row select {
	padding: 4px;
}
#addToCart .fas{
	color: #00ff00;
	transform: scale(2) translateX(10px);
	opacity: 0;
	transition: all 1s ease;
}
/**********CART PAGE STYLE*************/

.cart-item {
	display: inline-block;
	position: relative;
	border: 2px solid black;
	width: 100%;
	padding: 20px;
	margin: 10px 0;
}

.cart-intemcontent {
	float: left;
}

.cart-intemcontent.cart-itemdetails {
	width: 60%;
}

.cart-itemdetails > * {
	display: block;
}

.cart-itemdetails .item-nameandrate,
.cart-subtotal-label {
	font-size: 1.5rem;
}

.cart-itemdetails .item-view {
	height: 160px;
}

.cart-itemdetails .item-view > * {
	float: left;
	padding: 12px;
	height: 100%;
}

.cart-itemdetails .item-view .item-preview {
	width: 40%;
}

.cart-itemdetails .item-view .item-details {
	width: 60%;
}

.cart-itemdetails .item-price p {
	display: inline-block;
}

.cart-itemdetails .item-details-row {
	height: 33.33%;
}

.cart-itemdetails .item-colorandsize > * {
	width: 50%;
	float: left;
}

.cart-itemdetails .item-quantity > * {
	float: left;
}

.cart-itemdetails .item-quantity input {
	text-align: center;
	width: 20px;
	padding: 5px;
}

.cart-itemdetails label {
	font-weight: 800;
}

.cart-itemdetails .item-quantity .fas {
	display: inline-block;
	margin: 0 10px;
	padding: 5px;
	background: #28beee;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
}

.cart-itemdetails .item-quantity .fas:hover {
	background: #228daf;
}

.cart-intemcontent.cart-itemsubtotal {
	width: 40%;
}

.cart-itemsubtotal-row {
	height: 40px;
	text-align: right;
}

.cart-itemsubtotal-row .cart-subtotal-price {
	text-align: right;
	font-size: 2rem;
}

.cart-intemcontent.cart-itemsubtotal .btn {
	padding: 8px 10px;
	display: inline-block;
}

.cart-intemcontent.cart-itemsubtotal .btn a {
	display: inline-block;
}

.cart-itemsubtotal-btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.cart-form .btn {
	display: inline-block;
}

/**********END OF CART PAGE STYLE*************/

/**********HISTORY PAGE STYLE*************/

/**********END OF HISTORY PAGE STYLE*************/

.history-orderInfo {
	background: #363636;
	overflow: auto;
	padding: 10px;
}

.history-orderInfo > * {
	color: #fff;
	width: 50%;
	float: left;
	font-weight: bold;
	text-align: center;
}

.histoy-totalprice-row > *,
.history-purchasestatus-row > * {
	display: inline-block;
	width: 50%;
	float: left;
}

.history-purchaseTotal {
	height: 100%;
	width: 40%;
}

.histoy-totalprice-row,
.history-purchasestatus-row {
	padding: 20px 0 0;
}

.cart-intemcontent.history-purchaseTotal > * {
	overflow: auto;
	height: 33.3%;
}

.histoy-totalprice-row,
.history-purchasestatus-row {
	font-size: 1.4rem;
}

.history-productdetail-btn .btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/**********HERO SLIDER*************/

.heroSlider {
	height: 600px;
	width: 100%;
	position: relative;
	display: block;
}

.slide-keyhole {
	position: relative;
	height: 100%;
	display: block;
	width: 100%;
	overflow: hidden;
}

.slide-container {
	height: 100%;
}

.slide-holder {
	position: absolute;
	height: 100%;
	float: left;
	transition: all 2s ease;
}

.slide-img {
	position: relative;
	height: 100%;
	width: 100%;
}

.slide-imgWraper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
}

.slide-imgHolder {
	height: 100%;
	width: 100%;
}

.slide-control {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-25px);
	cursor: pointer;
}

.slide-control.slide-back {
	left: 0;
}

.slide-control.slide-next {
	right: 0;
}

/*********END OF HERO SLIDER***********/

/**************WELCOME TEXT****************/

.welcomeText {
	color: #363636;
	/*dark grey*/
	margin: 20px;
	width: 300px;
}

.welcomeText h1 {
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 10px;
}

.welcomeText p {
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	line-height: 18px;
}

/**************END OF WELCOME TEXT****************/

/**********CARD VIEW*************/

.cardView {
	position: relative;
	display: inline-block;
}

.holderImage {
	width: 100%;
	height: 200px;
	margin: 10px 0;
}

.holderImage img {
	width: 100%;
}

.productBox {
	float: left;
	text-align: center;
	padding: 10px;
	width: 25%;
}

.productBox > * {
	width: 100%;
}

.cardView p,
h3 {
	color: #363636;
	/*dark grey*/
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
}

.productBox .btn-primary {
	display: inline-block;
	margin-top: 10px;
	width: auto;
}


/**********END OF CARD VIEW*************/

/*****************PRODUCTS VIEW********************/

.productsView {
	height: 100%;
	position: relative;
}

.productsView ul,
.productsView li {
	display: block;
}

.productsView li > ul {
	padding-bottom: 15px;
}

.productsView > * {
	float: left;
	display: inline-block;
	position: relative;
	padding: 15px;
}

.products-view-sideNav {
	width: 18%;
}

.products-view-sideNav h3 {
	font-size: 1.3rem;
	margin-bottom: 40px;
}

.products-view-sideNav .dropList {
	display: none;
}

.products-view-sideNav .dropList li {
	padding: 3px 20px 0;
}

.products-view-content {
	width: 82%;
	text-align: center;
}

.products-view-content .cardView {
	width: 80%;
}

.products-view-content .products-categoryname {
	font-size: 1.4rem;
}

/*****************END OF PRODUCTS VIEW********************/

/*****************CONTACT VIEW********************/

.error {
	padding: 8px;
	background-color: tomato;
	color: #363636;
}

.contactView {
	display: inline-block;
	width: 100%;
	height: 800px;
}

.contactClass {
	background: #eee;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 700px;
	height: 600px;
	padding: 15px;
}

.contactView > * {
	display: inline-block;
}

.addressView {
	padding: 20px;
	float: left;
	width: 40%;
}

.addressView h2 {
	font-family: 'Roboto Slab', serif;
	margin-bottom: 10px;
	font-size: 15px;
	color: #363636;
}

.addressView h1 {
	font-family: 'Roboto Slab', serif;
	margin-bottom: 10px;
	font-size: 18px;
	color: #363636;
}

.addressView p {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #363636;
}

#map {
	width: 100%;
	height: 220px;
}

.formDetails {
	float: right;
}

.formDetails > * {
	position: relative;
}

.formDetails form {
	background-color: #c1b8b5;
	/*light grey*/
	text-align: left;
	padding: 20px;
	color: #363636;
	align-self: center;
	width: 350px;
	margin-bottom: 10px;
}

.formDetails input {
	width: 100%;
	display: block;
}

.formDetails input[type=text] {
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	margin: 8px 0;
	border: 1px solid #cccccc;
	box-sizing: border-box;
}

.formDetails label {
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
	margin-top: 20px;
	text-align: left;
}

.formDetails .btn-submit {
	margin: 20px 0;
	width: 100px;
}

/**********END OF CONTACT VIEW*************/

/**********PAYMENT VIEW*************/

.paymentRow {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
}

.paymentColumn {
	flex: 50%;
	background-color: lightgrey;
	padding: 5px 20px 15px 20px;
	border-radius: 3px;
}

.paymentInfoForm {
	flex: 75%;
}

.paymentColumn,
.paymentInfoForm {
	padding: 0 16px;
}

.paymentInfoForm [type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.paymentInfoForm label,
.paymentInfoForm input[type="month"]{
	margin-top: 10px;
	display: block;
}

.formContainer {
	margin-left: 25%;
	margin-top: 2%;
}

/**********END OF PAYMENT VIEW*************/

/*-- Filter search --*/

#filterSearch {
	position: relative;
	width: 100%;
	margin: auto;
}

#filterSearch .searchField input[type="text"] {
	display: block;
	width: 375px;
	max-width: 100%;
	border: 1px solid #c1b8b5;
	/*light grey*/
	;
	padding: 10px;
	margin-bottom: 20px;
}

#filterSearch .searchField input[type="text"]::placeholder {
	font-family: montserrat;
	font-size: 12px;
}

.filterTable {
	width: 100%;
}

.filterTable table thead td {
	padding: 5px;
	background: #ff5a1f/*orange*/
	;
	color: #fff;
}

.filterTable table thead td a {
	color: #fff;
	border-bottom: 1px dotted #fff;
	text-decoration: none;
	font-family: montserrat;
	font-size: 12px;
}

.filterTable table td {
	width: 15%;
	text-align: left;
}

.filterTable table tbody tr td,
#searchResults .noResults {
	padding-top: 10px;
	font-family: montserrat;
	font-size: 12px;
}

@media only screen and (max-width:600px) {
	#filterSearch .searchField input[type="text"] {
		width: 75%;
	}
}

/*-- End of filter search --*/

/*************FOOTER***************/

footer {
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px;
	background-color: #ff5a1f;
	/*light grey*/
	text-align: center;
	color: #fff;
	z-index: 9;
}

footer a {
	color: #fff;
}

footer .topFooter a {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding: 30px;
	margin-bottom: 20px;
}

.topFooter a:hover {
	opacity: 0.7;
}

footer hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.copyRight {
	float: left;
}

.payment {
	float: right;
}

.payment a {
	padding: 20px;
	font-family: 'Roboto Slab', serif;
}

.payment a:hover {
	opacity: 0.7;
}

.copyRight {
	font-family: 'Roboto Slab', serif;
}

/**********END OF FOOTER*************/

/****************MEDIA QUERIES**********************/

/*-------MOBILE---------*/

@media only screen and (max-width: 825px) {
	/*-----Header-----*/
	
	/*-----product card----*/
	.productBox {
		float: left;
		text-align: center;
		padding: 10px;
		width: 50%;
	}
	/*-----footer----*/
	footer .topFooter a {
		font-size: 18px;
	}
	.payment a {
		font-size: 18px;
	}
	.copyRight {
		font-size: 18px;
	}
	/*filter and category*/
	.products-view-sideNav h3 {
		font-size: 20px;
	}
	.aboutContainer img {
		float: left;
		width: 100%;
		margin-bottom: 20px;
		margin-right: 20px;
	}
	.aboutContainer p {
		font-size: 15px;
	}
	.aboutContainer {
		height: 500px;
	}


}

@media only screen and (max-width: 625px) {
	/*-----Header-----*/

	/*-----product card----*/
	.productBox {
		float: left;
		text-align: center;
		padding: 10px;
		width: 50%;
	}

	/*-----footer----*/
	.copyRight {
		font-size: 15px;
	}

	footer .topFooter a {
		font-size: 15px;
	}
	.payment a {
		font-size: 15px;
	}
	/*filter and category*/
	.products-view-sideNav h3 {
		font-size: 18px;
	}
	/*-------About---------*/
	.aboutContainer img {
		float: left;
		width: 100%;
		margin-bottom: 20px;
		margin-right: 20px;
	}
	.aboutContainer p {
		font-size: 15px;
	}
	.aboutContainer {
		height: 500px;
	}
	/*-------Contact form--------*/
	.addressDetails {
		display: inline-block;
		width: 100%;
		float: none;
	}
	.addressView h1 {
		font-size: 20px;
	}
	.addressView {
		width: 100%;
		background-color: #fff;
	}
	.addressView p {
		width: 300px;
	}
	.contactView {
		width: 100%;
		display: inline-block;
	}
	.formDetails label {
		width: 100%;
		font-size: 15px;
	}
	.formDetails form {
		width: 360px;
	}
	.formDetails {
		width: 100%;
	}
	.contactClass {
		margin-top: 0;
		width: 100%;
		background-color: #fff;
	}
	.formDetails input[type=text] {
		width: 300px;
		font-size: 15px;
	}
	footer {
		position: fixed;
	}
	#map {
		width: 100%;
		margin-bottom: 30%;
	}
}

@media screen and (max-width: 425px) {
	.container {
		width: 100%;
	}
	/*-----Header-----*/
	
	/*-----product card----*/
	.productBox {
		float: left;
		text-align: center;
		padding: 10px;
		width: 100%;
	}
	/*-----footer----*/
	.copyRight {
		text-align: center;
		font-size: 15px;
		float: none;
	}
	.topFooter {
		display: none;
	}
	.payment {
		display: none;
	}

	footer .topFooter a {
		font-size: 10px;
	}
	.payment a {
		font-size: 10px;
	}
	/*filter and category*/
	.products-view-sideNav h3 {
		display: none;
	}
	.products-view-sideNav {
		width: 100%;
	}
	.products-view-content {
		width: 100%;
	}
	.products-view-sideNav ul li {
		display: block;
	}
	/*-------About---------*/
	.aboutContainer img {
		float: left;
		width: 100%;
		margin-bottom: 20px;
		margin-right: 20px;
	}
	.aboutContainer p {
		font-size: 15px;
	}
	.aboutContainer {
		height: 500px;
	}
	/*-------Contact form--------*/
	.addressDetails {
		display: inline-block;
		width: 100%;
		float: none;
	}
	.addressView h1 {
		font-size: 20px;
	}
	.addressView {
		width: 100%;
		background-color: #fff;
	}
	.addressView p {
		width: 200px;
	}
	.contactView {
		width: 100%;
		display: inline-block;
	}
	.formDetails label {
		width: 100%;
		font-size: 15px;
	}
	.formDetails form {
		width: 300px;
	}
	.formDetails {
		width: 100%;
	}
	.contactClass {
		margin-top: 0;
		width: 100%;
		background-color: #fff;
	}
	.formDetails input[type=text] {
		width: 250px;
		font-size: 15px;
	}
	footer {
		margin-top: 30%;
		position: fixed;
	}
	#map {
		width: 100%;
		margin-bottom: 50%;
	}

}



/**********END OF FOOTER************