/* COLORS AND FONTS USED
color : #363636; //dark grey
color : #c1b8b5; // light grey
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
color : #28beee; //light blue
*/

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

/********HEADER*********/

	header
	{
		position: relative;
		background: #c1b8b5;
		overflow: auto;
	}
	header>*{
		float: left;
		height: 100%;
	}/*children inside first level*/
	.logo img
	{
		margin: 0;
		padding: 0;
		max-height:100px;
	}

	/******NAVIGATION******/
	.headerNav ul {
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #c1b8b5; /*light grey*/
	}

	.headerNav nav>ul>li {
	    float: left;
	  
	}
	.headerNav nav
	{
		display: inline-block;
	}
	.headerNav li a, .dropbtn {
	    display: inline-block;
	    font-family: 'Roboto Slab', serif;
	    font-size: 18px;
	    color: #363636;/*dark grey*/
	    text-align: center;
	    padding: 14px 16px;
	}

	.headerNav li a:hover, .dropdown:hover .dropbtn {
	    background-color: #363636;/*dark grey*/
	    color: #fff;/*white*/
	    transition: all ease 0.5s;
	}

	.headerNav li.dropdown {
	    display: inline-block;
	}

	.dropdownContent {
	    display: none;
	    position: absolute;
	    background-color: #c1b8b5; /*light grey*/
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}

	.dropdownContent a {
	    color: #363636;/*dark grey*/
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	.dropdownContent a:hover {
		background-color: #363636;/*dark grey*/
		border-top: 2px solid #fff;/*white*/
		color:#fff; /*white*/
	}

	.dropdown:hover .dropdownContent {
	    display: block;
	}

	/*******RIGHT NAV********/
	.rightNav
	{
		float: right;
		position: relative;
		margin: 10px;
	}

	.rightNav img
	{
		max-width: 23px;
	}

	.rightNav a
	{
		font-family: 'Roboto Slab', serif;
		margin-right: 10px;
		color: #363636;/*dark grey*/
	}

	.socialNav
	{
		width: 50%;
		text-align: center;
		margin-bottom: 20px;
	}


/*********END OF HEADER***********/

/*************FOOTER***************/

footer
{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 20px;
   background-color: #c1b8b5;/*light grey*/
   color: #363636;/*dark grey*/
   text-align: center;
}

footer .topFooter a
{
	color: #363636;/*dark grey*/
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding: 30px;
	margin-bottom: 20px;
}
.topFooter a:hover
{
	opacity: 0.7;
}
footer hr
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.copyRight
{
	float: left;
}

.payment
{
	float: right;
}
.payment a
{
	padding: 20px;
	font-family: 'Roboto Slab', serif;
	color: #363636;/*dark grey*/
}
.payment a:hover
{
	opacity: 0.7;
}
.copyRight
{
	font-family: 'Roboto Slab', serif;
	color: #363636;/*dark grey*/
}

/**********END OF FOOTER*************/

/**********CARD VIEW*************/
.cardView
{
	margin: 10px;
	position: relative;
	display: inline-block;
	width: 80%;
	max-width: 1000px;

}

.holderImage img
{
	width: 100%;

}

.productBox
{
	float: left;
	text-align: center;
	padding: 10px;
	width: 25%;
}

.productBox>*
{
	width: 100%;
}

.cardView p,h3
{
	color: #363636;/*dark grey*/
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
}

.viewBtn 
{
	padding: 10px;
	margin-top: 10px;
	border: 3px solid #28beee;/*light blue*/
}
.viewBtn:hover
{
	background-color: #28beee;/*light blue*/
	color: #ffffff;/*white*/
	transition: all ease 0.5s;
}

.viewBtn a
{
	color: #363636;/*dark grey*/
	font-size: 15px;
}

/**********END OF CARD VIEW*************/

/**************WELCOME TEXT****************/

.welcomeText
{
	color: #363636;/*dark grey*/
	margin: 20px;
	width: 300px;
}

.welcomeText h1
{
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 10px;
}

.welcomeText p
{
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	line-height: 18px;
}

/**************END OF WELCOME TEXT****************/

/*****************PRODUCTS VIEW********************/

.categoryNav ul li a
{
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
	margin-left: 20px;
	color: #363636;
}

.categoryNav ul li a:hover
{
	opacity: 0.7;
}
.categoryNav ul h3
{
	font-family: 'Roboto Slab', serif;
	color: #363636;
	margin-left: 20px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
.categoryNav ul
{
	position: fixed;
	font-family: 'Roboto Slab', serif;
	background-color: #c1b8b5;/*light grey*/
	height: 100%;
	width: 13%;
}


/*****************END OF PRODUCTS VIEW********************/