/*COLORS AND FONTS USED
color: #ff5a1f*/ /*orange/*;
color: #41c1c4 /*cyan/*;
color : #363636; //dark grey
color : #c1b8b5; // light grey
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
color : #28beee; //light blue
*/

* {
	margin: 0px;
	padding: 0px;
	font-family:'Montserrat', sans-serif;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: #363636 /*dark grey*/;
	border: none;
	outline: none;
	transition: all 0.2 ease;
}

/*-- Admin Login --*/
#loginFormContainer {
	width:300px;
	margin:auto;
	max-width:100%;
	box-shadow:0 0 2px 0 #ff5a1f/*orange*/;
	margin-top:100px;
	padding:50px 30px;
}

.loginForm {
	width:100%;
	margin:auto;
	max-width:100%;
}

.logoHolder img {
	width:75%;
	margin:auto;
	display:block;
	margin-bottom:40px;
}

.loginForm input[type="text"],.loginForm input[type="password"] {
	border:1px solid #c1b8b5; /*light grey*/;
	padding:10px;
	width:100%;
}

.loginForm input[type="text"] {
	margin-bottom:20px;
}

.loginForm ::placeholder {
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
}

.loginForm input[type="submit"] {
	background:#ff5a1f /*orange/*/;
	width:100%;
	font-size:14px;
	padding:10px;
	text-align:center;
	color:#fff;
	margin-top:20px;
	transition:.3s ease;
	text-transform: uppercase;
}

.loginForm input[type="submit"]:hover {
	opacity:0.7;
}

/*-- End of Login Form --*/


/*-- CMS Header --*/
#cmsSideNav {
	width:175px;
	position:fixed;
	max-width:100%;
	height:100vh;
	top:0;
	background:#ff5a1f /*orange*/;
}

#cmsSideNav .cmsLogo{
	width:75%;
	margin:auto;
	display:block;
	padding-top:30px;
	padding-bottom:30px;
}

#cmsSideNav nav {
	width:75%;
	margin:auto;
}

#cmsSideNav nav li {
	margin-bottom:15px;
}

#cmsSideNav nav li a {
	color:#fff;
	font-family:montserrat;
	font-size:14px;
	text-align:left;
}

#cmsSideNav nav li a:hover{
	color:363636;/*/dark grey*/;
}

/*-- End of CMS Header --*/


/*-- Dashboard --*/
#dashboard{
	width:auto;
	margin-left:220px;
	position: relative;
    overflow: auto;
    margin-top:50px;
}

#dashboard h2 {
	font-family:'Roboto Slab';
	font-size:30px;
	margin-bottom:15px;
}

#dashboard h3 {
	font-size:16px;
	margin-bottom:50px;
	font-weight:normal;
}

#dashboard .dashboardOptions {
	width:200px;
	max-width:100%;
}

.dashboardOptions span {
	display:block;
	width:100%;
	transition:.5s ease;
}

.dashboardOptions span:hover {
	opacity:0.7;
	margin-left:5px;
}

.dashboardOptions .iconBox {
	width:35px;
	position: relative;
	top:5px;
}

.dashboardOptions .iconPages, #dashboard .iconFilter {
	width:30px;
	position: relative;
	top:10px;
}

.dashboardOptions p{
	font-size:14px;
	color: #ff5a1f/*orange*/;
	margin-bottom:15px;
	display:inline-block;
	margin-left:10px;
}

.dashboardOptions p.productsOption {
	margin-left:5px;
}

/*-- End of Dashboard --*/


/*-- Products --*/
#productsTable{
	width:900px;
	text-align:left;
	margin:auto;
	margin-top:40px;
	border-collapse: collapse;
}

#productsTable th {
	font-size:16px;
	font-family:roboto slab;
	font-weight:normal;
	color:#fff;
	background: #363636 /*dark grey*/;
	padding:10px;
}

.addAproductForm
{
	margin-top: 20px;
	margin-left: 15%;
}
#productsTable td {
	font-size:14px;
	border-bottom:1px solid #c1b8b5 /*light grey*/;
	text-align:left;
	width:25%;
	padding-bottom:20px;
	padding:10px;
}

#productsTable img {
	width:100px;
}

#productsTable .editBtn {
	background:#009900 /*green*/;
	color:#fff;
	font-size:14px;
	padding:5px 30px;
}

#productsTable .deleteBtn {
	background:red;
	color:#fff;
	font-size:14px;
	padding:5px 30px;
}

#productsTable .editBtn:hover, #productsTable .deleteBtn:hover {
	opacity:0.7;
} 
/*-- End of Products --*/

/*--Add Products--*/
.addProductContainer {
	margin: 20px auto;
	width: 300px;
	padding: 30px 25px;
	background: #fff;
	border: 2px solid #ff5a1f;/*orange*/
}

.addAproductForm label {
	display: block;
	margin: 10px;
	color: #ff5a1f; 
}

.addAproductForm input[type=text], input[type=textarea] ,select {
	margin: 5px;
	padding: 5px;
	border: 1px solid #363636;
}

.addAproductForm input[type=file] {
	margin-bottom: 20px;
}

.addAproductForm h2 {
	color: #ff5a1f;
}

.addAproductForm img {
	max-width: 50px;
}

.addAproductForm input[type=submit] {
	background-color: #ff5a1f;
	color: #fff;
	border: none;
	padding: 10px;
}

.addAproductForm input[type=submit]:hover {
	background-color: #fff;
	color: #ff5a1f;
	border: 1px solid #ff5a1f;
	transition: all ease 0.7s;
}

.addAproductForm input[type=number] {
	margin: 5px;
	padding: 5px;
	border: 1px solid #363636;
}

.productsTable .addBtn a {
	margin-left: 10%;
}

.addProductBtn {
	background-color:#ff5a1f;
	color: #fff;  
	padding: 10px;
	text-align: center;
}

.addProductBtn:hover {
	background-color:#fff;
	color: #ff5a1f;  
	border: 1px solid #ff5a1f;
	padding: 10px;
	transition: all ease 1s;
	text-align: center;
}

/*--End of Add Products--*/

/*--Users--*/
.userView
{
	margin: 20px auto;
	width: 300px;
	margin-top: 100px;
	padding: 30px 25px;
	background: #fff;
	border: 1px solid #ff5a1f;
}
.userView h1
{
	margin-bottom: 20px;
}
.userView input[type=text], input[type=password]
{
	margin: 5px;
	padding: 5px;
	border: 1px solid #363636;
}
.userView .addUser
{
	margin-top: 10px;
	background-color: #ff5a1f;
	color: #fff;
	border: none;
	padding: 10px;
}
.userView .addUser:hover
{
	background-color: #fff;
		color: #ff5a1f;
		border: 1px solid #ff5a1f;
		transition: all ease 0.7s;
}

/*--users table--*/

#usersTable{
	width:900px;
	text-align:left;
	margin:auto;
	margin-top:40px;
	border-collapse: collapse;
}

#usersTable th {
	font-size:16px;
	font-family:roboto slab;
	font-weight:normal;
	color:#fff;
	background: #363636 /*dark grey*/;
	padding:10px;
}

#usersTable td {
	font-size:14px;
	border-bottom:1px solid #c1b8b5 /*light grey*/;
	text-align:left;
	width:25%;
	padding-bottom:20px;
	padding:10px;
}

#usersTable img {
	width:100px;
}

#usersTable .editBtn {
	background:#009900 /*green*/;
	color:#fff;
	font-size:14px;
	padding:5px 30px;
}

#usersTable .deleteBtn {
	background:red;
	color:#fff;
	font-size:14px;
	padding:5px 30px;
}

#usersTable .editBtn:hover, #usersTable .deleteBtn:hover {
	opacity:0.7;
} 
/*--End Of Users--*/

/*-- Members --*/
#members {
	width:auto;
	margin-left:220px;
	position: relative;
    overflow: auto;
    margin-top:50px;
}

#members h2 {
	font-family:'Roboto Slab';
	font-size:30px;
	margin-bottom:15px;
}

#members .iconAdd {
	width:20px;
	display:inline-block;
	position:relative;
	top:5px;
}

#members p.addMember {
	font-size:14px;
	display:inline-block;
}

#members span {
	transition:.5s ease;
}

#members span:hover {
	opacity:0.7;
	margin-left:5px;
}

#membersTable{
	width:900px;
	text-align:left;
	margin-top:40px;
	border-collapse: collapse;
}

#membersTable th {
	font-size:16px;
	font-family:roboto slab;
	font-weight:normal;
	color:#fff;
	background: #363636 /*dark grey*/;
	padding:10px;
}

#membersTable td {
	font-size:14px;
	border-bottom:1px solid #c1b8b5 /*light grey*/;
	text-align:left;
	width:25%;
	padding-bottom:20px;
	padding:10px;
}

#membersTable img {
	width:100px;
}

#membersTable .editBtn {
	background:#009900 /*green*/;
	color:#fff;
	font-size:14px;
	padding:5px 30px;
}

#membersTable .deleteBtn {
	background:red;
	color:#fff;
	font-size:14px;
	padding:5px 30px;
}

#membersTable .editBtn:hover, #membersTable .deleteBtn:hover {
	opacity:0.7;
} 
/*-- End of Members ---*

/*-- Add a Member AND Edit a Member --*/
.addMemberContainer {
	margin: 20px auto;
	width: 300px;
	padding: 30px 25px;
	background: #fff;
	border: 2px solid #ff5a1f;/*orange*/
}

.addMemberForm label {
	display: block;
	margin: 10px;
	color: #ff5a1f; 
}

.addMemberForm input[type="text"]{
	margin: 5px;
	padding: 5px;
	border: 1px solid #363636;
}

.addMemberForm h2 {
	color: #ff5a1f;
}

.addMemberForm img {
	max-width: 50px;
}

.addMemberForm input[type="submit"] {
	background-color: #ff5a1f;
	color: #fff;
	border: none;
	padding: 10px;
}

.addMemberForm input[type="submit"]:hover {
	background-color: #fff;
	color: #ff5a1f;
	border: 1px solid #ff5a1f;
	transition: all ease 0.7s;
}

/*-- End of Add a Member AND Edit a Member --*/