/*COLORS AND FONTS USED
color: #ff5a1f*/ /*orange/*;
color: #41c1c4 /*cyan/*;
color : #363636; //dark grey
color : #c1b8b5; // light grey
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
color : #28beee; //light blue
*/

* {
	margin: 0px;
	padding: 0px;
	font-family:'Montserrat', sans-serif;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: #363636 /*dark grey*/;
	border: none;
	outline: none;
	transition: all 0.2 ease;
}

/*-- Admin Login --*/
#loginFormContainer {
	width:300px;
	margin:auto;
	max-width:100%;
	box-shadow:0 0 2px 0 #ff5a1f/*orange*/;
	margin-top:100px;
	padding:50px 30px;
}

.loginForm {
	width:100%;
	margin:auto;
	max-width:100%;
}

.logoHolder img {
	width:75%;
	margin:auto;
	display:block;
	margin-bottom:40px;
}

.loginForm input[type="text"],.loginForm input[type="password"] {
	border:1px solid #c1b8b5; /*light grey*/;
	padding:10px;
	width:100%;
}

.loginForm input[type="text"] {
	margin-bottom:20px;
}

.loginForm ::placeholder {
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
}

.loginForm input[type="submit"] {
	background:#ff5a1f /*orange/*/;
	width:100%;
	font-size:14px;
	padding:10px;
	text-align:center;
	color:#fff;
	margin-top:20px;
	transition:.3s ease;
	text-transform: uppercase;
}

.loginForm input[type="submit"]:hover {
	opacity:0.7;
}

/*-- End of Login Form --*/


/*-- CMS Header --*/
#cmsSideNav {
	width:175px;
	position:fixed;
	max-width:100%;
	height:100vh;
	top:0;
	background:#ff5a1f /*orange*/;
}

#cmsSideNav .cmsLogo{
	width:75%;
	margin:auto;
	display:block;
	padding-top:30px;
	padding-bottom:30px;
}

#cmsSideNav nav {
	width:75%;
	margin:auto;
}

#cmsSideNav nav li {
	margin-bottom:15px;
}

#cmsSideNav nav li a {
	color:#fff;
	font-family:montserrat;
	font-size:14px;
	text-align:left;
}

#cmsSideNav nav li a:hover{
	color:363636;/*/dark grey*/;
}

/*-- End of CMS Header --*/


/*-- Dashboard --*/
#dashboard{
	width:auto;
	margin-left:220px;
	position: relative;
    overflow: auto;
    margin-top:50px;
}

#dashboard h2 {
	font-size:30px;
	margin-bottom:15px;
}

#dashboard h3 {
	font-size:16px;
	margin-bottom:50px;
	font-weight:normal;
}

#dashboard .dashboardOptions {
	width:200px;
	max-width:100%;
}

.dashboardOptions span {
	display:block;
	width:100%;
	transition:.5s ease;
}

.dashboardOptions span:hover {
	opacity:0.7;
	margin-left:5px;
}

.dashboardOptions .iconBox {
	width:35px;
	position: relative;
	top:5px;
}

.dashboardOptions .iconPages, #dashboard .iconFilter {
	width:30px;
	position: relative;
	top:10px;
}

.dashboardOptions p{
	font-size:14px;
	color: #ff5a1f/*orange*/;
	margin-bottom:15px;
	display:inline-block;
	margin-left:10px;
}

.dashboardOptions p.productsOption {
	margin-left:5px;
}



/*-- End of Dashboard --*/